<td-layout>
    <td-layout-nav-list logo="assets:teradata" toolbarTitle="Bertoni Solutions" sidenavWidth="250px" opened="true" mode="side">
        <div td-sidenav-content>
            <!--===Menu===-->
            <mat-nav-list dense>
                <a mat-list-item>
                    <mat-icon mat-list-icon>style</mat-icon>
                    <h3 matLine>
                        <span class="text-wrap">Categories</span>
                    </h3>
                </a>
                <mat-divider *ngIf="!last"></mat-divider>
                <a mat-list-item>
                    <mat-icon mat-list-icon>pets</mat-icon>
                    <h3 matLine>
                        <span class="text-wrap">Pets</span>
                    </h3>
                </a>
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-nav-list>
        </div>
        <!--===Toggle====-->
        <div td-toolbar-content>
            <button mat-icon-button tdLayoutNavListToggle>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!--===Routes====-->
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>